@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


@import 'normalize',
        'mixins',
        'variables';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    font: 1.5rem/1.6 'Roboto', sans-serif;
    background-color: gray;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 96%;
}

// ------------------------------------------- HEADER
.header {
    height: 11.8rem;
    background-color: #fff;
    border-bottom: 2px solid #4c4c4c;
    text-transform: uppercase;
    color: $brandColor;
    // outline: 2px solid red;
    &__wrap {
        @include flexCenter;
        justify-content: space-between;
        height: 11.8rem;
        // outline: 2px solid orangered;
    }
    &__logo {
        font-weight: bold;
        font-size: 3.6rem;
        border: 2px solid $brandColor;
        width: 17rem;
        text-align: center;
        height: 8rem;
        @include flexCenter;
        @include linkClear;
        color: $brandColor;
        &--second {
            color: #000;
            border: 1px solid #000;
            font-weight: normal;
        }
    }
    &__menu {
        width: 57rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // outline: 2px solid red;
    }
    &__phone {
        width: 33.2rem;
        display: flex;
        margin-bottom: 2rem;
        // outline: 2px solid blue;
        &--text {
            width: 40%;
            font-size: 1.4rem;
            line-height: 1.5rem;
            // outline: 2px solid green;
        }
        &--num {
            font-size: 3.2rem;
            line-height: 2.7rem;
            font-weight: bold;
            @include linkClear;
            color: $brandColor;
        }
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &--item {
            @include linkClear;
            color: $brandColor;
        }
        &--item_black {
            color: #000;
        }
        // outline: 2px solid orange;
    }
}
// ----------------------------------------------- BANNER
.banner {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
      url(../img/bg-main.png);
    // background-image: url(../img/bg-main.png);
    height: 86.2rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    &__wrap {
        height: 86.2rem;
        // outline: 2px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-family: 'Playfair Display', serif;
        width: 55rem;
        &--text {
            font-size: 3rem;
            font-weight: bold;
            line-height: 3rem;
            &::after {
                content: 'BURN INJURY LAWYER';
                font-size: 5rem;
                display: block;
                line-height: 2.7rem;
                margin-top: 1rem;
            }
        }
        &--button {
            display: block;
            width: 36rem;
            height: 5rem;
            background-color: $brandColor;
            @include linkClear;
            color: #fff;
            font-size: 1.6rem;
            line-height: 2.7rem;
            padding: 1rem 3rem;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            margin-top: 3.5rem;
            text-align: center;
        }
    }
    &__form {
        width: 46rem;
        // outline: 2px solid yellow;
        background-color: $brandColor;
        padding: 4rem 3rem;
        &--title {
            font-size: 2.8rem;
            // line-height: 4.8rem;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            &::after {
                content: 'Fill out the form below for your free case evaluation';
                display: block;
                font-family: 'Roboto', sans-serif;
                font-weight: 100;
                font-size: 1.8rem;
                // font-weight: 3rem;
                // text-transform: lowercase;
                text-transform: none;
                margin-bottom: 4rem;
            }
        }
        &--name {
            @include formInput;
        }
        &--mail {
            @include formInput;
        }
        &--phone {
            @include formInput;
        }
        &--text {
            @include formInput;
            height: 12rem;
            width: 100%;
            resize: none;
        }
        &--button {
            text-transform: uppercase;
            display: block;
            margin: 0 auto;
            width: 70%;
            height: 5.5rem;
            background-color: #fff;
            color: $brandColor;
            font-weight: bold;
            font-size: 2rem;
            line-height: 3rem;
            border: none;
            cursor: pointer;
        }
    }
}
// ------------------------------------------------- ABOUT
.about {
    height: 74rem;
    background-color: #fff;
    &__wrap {
        height: 74rem;
        display: flex;
        justify-content: space-between;
        padding-top: 15rem;
        // margin-top: 15rem;
    }
    &__img {
        width: 48%;
        height: 90%;
        background-image: url(../img/lawyer.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__text {
        width: 48%;
        &--title {
            font-family: 'Playfair Display', serif;
            font-size: 5rem;
            color: #404040;
            text-transform: uppercase;
            line-height: 3rem;
            margin-bottom: 3.4rem;
        }
        &--desc {
            font-family: 'Roboto', sans-serif;
            font-size: 1.8rem;
            color: #151515;
            font-weight: 250;
            margin-bottom: 5rem;
        }
        &--subtitle {
            font-size: 2.1rem;
            color: #404040;
            font-family: "Playfair Display";
            text-transform: uppercase;
            margin-bottom: 2.7rem;
            color: #404040;
        }
        &--button {
            @include linkClear;
            font-size: 1.6rem;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            color: #fff;
            background-color: $brandColor;
            width: 20.8rem;
            display: block;
            text-align: center;
            padding: 1rem 0;
        }
    }
}
// ------------------------------------------------ CALL
.call {
    background-color: $brandColor;
    height: 25rem;
    color: #fff;
    &__wrap {
        @include flexCenter;
        flex-direction: column;
        height: 25rem;
        font-size: 4rem;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        text-transform: uppercase;
    }
    &__tel {
        @include linkClear;
        color: #fff;
    }
}
// ----------------------------------------------- TESTIMONIALS
.comments {
    height: 50rem;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
    url(../img/bg-sec.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    &__title {
        font-size: 5rem;
        font-family: 'Playfair Display' ,serif;
        text-align: center;
        padding: 9rem 1rem 7rem 1rem;
    }
    &__slider {
        width: 100%;
        height: 20rem;
        // outline: 2px solid red;
        &--left {
            // outline: 2px solid red;
            width: 2.5rem;
            height: 2.5rem;
            background-color: $brandColor;
            border-radius: 5px;
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 185.343 185.343' style='enable-background:new 0 0 185.343 185.343;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath style='fill:%23fff;' d='M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175 l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934 c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");            cursor: pointer;
            background-size: 50% 50%;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(50%);
        }
        &--right {
            width: 2.5rem;
            height: 2.5rem;
            background-color: $brandColor;
            border-radius: 5px;
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 185.343 185.343' style='enable-background:new 0 0 185.343 185.343;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath style='fill:%23fff;' d='M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175 l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934 c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");            cursor: pointer;
            background-size: 50% 50%;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            bottom: 0;
            right: 50%;
            // transform: translateX(-50%);
            transform: rotate(180deg);
        }
    }
    &__item {
        &--text {
            color: rgba(255, 255, 255, .7);
            text-align: center;
            height: 15rem;
            font-size: 1.8rem;
        }
    }
}
// -------------------------------------------------- NEWS
.news {
    height: 74rem;
    background-color: #fff;
    &__title {
        font-size: 5rem;
        font-family: 'Playfair Display', serif;
        color: #404040;
        text-align: center;
        padding: 7rem 1rem 8rem 1rem;
        text-transform: uppercase;
        &--blog {
            font-size: 2.6rem;
            font-family: 'Open Sans', sans-serif;
            color: #000;
            &::after {
                content: 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. ';
                display: block;
                font-size: 1.8rem;
            }
        }
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 31%;
        // outline: 2px solid red;
        height: 43rem;
        display: block;
        // display: flex;
        // flex-direction: column;
        @include linkClear;
        &--img {
            background-image: url(../img/pic.png);
            width: 100%;
            height: 50%;
        }
        &--title {
            @include title;
        }
        &--desc {
            font-size: 1.8rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 250;
            color: #404040;
        }
        &--more {
            font-size: 1.8rem;
            color: $brandColor;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }
        &--blog {
            background-color: #fff;
        }
        &--img-blog {
            background-repeat: no-repeat;
            background-size: cover;
            // background-size: 100% 150%;
        }
        &--img-blog-first {
            background-image: url(../img/sec-page/blog-1.png);
        }
        &--img-blog-sec {
            background-image: url(../img/sec-page/blog-2.png);
        }
        &--img-blog-third {
            background-image: url(../img/sec-page/blog-3.png);
        }
        &--title-blog {
            font-size: 1.8rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            text-transform: none;
            padding: 0;
        }
        &--wrap {
            padding: 1rem 2rem;
            // height: 40%;
        }
        &--desc-blog {
            font-size: 1.6rem;
            color: #000;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
        }
        &--more-blog {
            // outline: 2px solid red;
            text-align: right;
            font-size: 1.6rem;
        }
    }
}
// --------------------------------------------------- CONTACTS
.contacts {
    height: 22rem;
    background-color: #2b2b2b;
    &__title {
        @include title;
        font-size: 2.2rem;
        color: #fff;
        text-align: center;
        padding-top: 0;
    }
    &__wrapper {
        @include flexCenter;
        height: 22rem;
        flex-direction: column;
    }
    &__wrap {
        @include flexCenter;
        // justify-content: space-evenly;
        // height: 22rem;
    }
    &__item {
        @include linkClear;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        &:not(:last-of-type) {
            &::after {
                content: '|';
                margin: 0 2rem;
            }
        }
    }
}
// ------------------------------------------------ FOOTER
.footer {
    height: 6rem;
    background-color: #242424;
    &__wrapper {
        height: 6rem;
        @include flexCenter;
        justify-content: space-between;
    }
    &__rights {
        @include linkClear;
        color: #fff;
    }
}
// ----------------------------------------------- BANNER-SEC
.banner-sec {
    height: 54.5rem;
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ),
      url(../img/sec-page/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    // outline: 2px solid red;
    &__wrap {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        width: 60%;
        height: 54.5rem;
        // outline: 2px solid red;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
    }
    &__title {
        font-size: 4.1rem;
        font-weight: 700;    
    }
    &__subtitle {
        font-size: 2.2rem;
        margin: 1rem 0;
    }
    &__button {
        font-size: 2.5rem;
        font-weight: 600;
        @include linkClear;
        background: #fff;
        padding: 1rem 2rem;
        width: 30%;
        text-align: center;
    }
}
// ---------------------------------------------- JUSTICE
.justice {
    height: 71rem;
    background-color: #fff;
    &__wrap {
        padding-top: 10rem;
        display: flex;
        justify-content: space-between;
        height: 61rem;
        // overflow: hidden;
    }
    &__text {
        width: 48%;
        font-family: 'Open Sans', sans-serif;
        height: 51rem;
        // outline: 2px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--title {
            font-size: 2.6rem;
            font-weight: 600;
            // margin-bottom: 2rem;
            text-transform: uppercase;
        }
        &--desc {
            font-size: 1.8rem;
            font-weight: 400;
            // margin-bottom: 4rem;
            height: 30rem;
            overflow: hidden;
        }
        &--button {
            font-size: 2rem;
            font-weight: 600;
            @include linkClear;
            border: 1px solid #000;
            padding: 1rem 2rem;
            width: 30%;
            text-align: center;
        }
    }
    &__img {
        background-image: url(../img/sec-page/justice.png);
        width: 50%;
        height: 51rem;
        // outline: 2px solid red;
    }
}
// ------------------------------------------------------ BLOG
.news_blog {
    background-color: #f1f1f1;
}